<f:layout name="Default" />

<f:section name="content">
	<h1>Übersicht aller Mailman Listen</h1>
	<f:flashMessages />
	<div>
		<f:link.action action="config" class="btn btn-default">
			<i class="fa fa-fw fa-wrench" aria-hidden="true"></i> Alle Verteiler konfigurieren
		</f:link.action>
		<f:link.action action="update" class="btn btn-default">
			<i class="fa fa-fw fa-exchange" aria-hidden="true"></i> Alle Personen ein- & austragen
		</f:link.action>
	</div>

	<table class="table table-striped" >
		<tr>
			<th><f:translate key="tx_bwdpsglist_domain_model_maillist.name" /></th>
			<th><f:translate key="tx_bwdpsglist_domain_model_maillist.server" /></th>
			<th><f:translate key="tx_bwdpsglist_domain_model_server.version" /></th>
			<th><f:translate key="tx_bwdpsglist_domain_model_maillist.type" /></th>
			<th><f:translate key="tx_bwdpsglist_domain_model_maillist.archive" /></th>
			<th> </th>
		</tr>

		<f:for each="{maillists}" as="maillist">
			<tr>
				<td>{maillist.name}</td>
				<td>{maillist.server.address}</td>
				<td>
					<f:translate key="tx_bwdpsglist_domain_model_server.version.{maillist.server.version}" />
				</td>
				<td>
					<f:switch expression="{maillist.type}">
						<f:case value="0">
							<i class="fa fa-fw fa-minus"></i> <f:translate key="tx_bwdpsglist_domain_model_maillist.type.0" />
						</f:case>
						<f:case value="1">
							<i class="fa fa-fw fa-plus"></i> <f:translate key="tx_bwdpsglist_domain_model_maillist.type.1" />
						</f:case>
					</f:switch>
				</td>
				<td>
					<f:if condition="{maillist.archive}">
						<f:then><i class="fa fa-fw fa-check text-success"></i></f:then>
						<f:else><i class="fa fa-fw fa-times text-danger"></i></f:else>
					</f:if>
				</td>
				<td style="text-align: right;">
					<f:link.action action="show" arguments="{maillist : maillist}" class="btn btn-default">Anzeigen</f:link.action>
				</td>
			</tr>
		</f:for>
	</table>
</f:section>